*{
    background-color: rgb(58, 114, 72);
    user-select: none;
}
body{
    overflow-x: hidden;
    justify-content: center;
    align-items: centers;
}
.Pw {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 174, 255);
}
form{
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    position: absolute;
    margin-top: 100px;
}
::placeholder{
    color: rgb(0, 0, 0);
    margin: 10px;
}
.Name{
    margin: 20px;
    transform: scale(2);
}
.Email{
    margin: 20px;
    transform: scale(2);
}
.Reason{
    margin: 20px;
    transform: scale(2);
}
.Desc{
    width: 171px;
    margin: 30px;
    right: 10px;
    position: relative;
    transform: scale(2);
}
.Press{
    margin: 40px;
    background-color: rgb(55, 107, 68);
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    transform: scale(3);
}
.Press:hover{
    background-color: rgb(41, 82, 51) ;
    cursor: pointer;
}
.photo {
    border-radius: 100%;
    z-index: 1;
    left: 40%;
    transform: translateX(-50%);
    top: 50px;
    position: relative;
    margin-top: 400px;
}
@media screen and (min-width: 1150px) {
    form {
        transform: scale(1.4);
        top: 70px;
        right: 100px;
    }
}
@media screen and (min-width: 1150px) {
    .photo {
        transform: scale(1.3);
        top: 150px;
        left: 40%;
    }
}
@media screen and (max-width: 375px) {
    .Name {
      width: 50%; /* Cambiamos el ancho del formulario para que ocupe la mitad de la pantalla */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centramos vertical y horizontalmente el formulario */
    }
    .photo {
      transform: scale(2);
    }
  }