@media screen and (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1653px) {
    .header__p {
        font-size: 80px;
    }
}
@media screen and (min-width: 1145px) {
    .header__p {
        word-spacing: 10px;
    }
}
@media screen and (min-width: 1045px) {
    .header__p {
        letter-spacing: 5px;
    }
}
@media screen and (max-width: 874px) {
    .header__p {
        font-size: 40px;
    }
}   
@media screen and (max-width: 766px) {
    .header__p {
        font-size: 30px;
    }
}
@media screen and (max-width:600px) {
    .header__p {
        font-size: 30px;
    }
}
@media screen and (max-width: 674px) {
    .header__p {
        font-size: 20px;
    }
}
@media screen and (max-width: 670px) {
    .TiK {
        left: 400px;
    }
}
@media screen and (max-width: 600px) {
    .YoT {
        right: 1000px;
    }
}

@media screen and (min-width: 1371px) {
    .YoT {
        width: 400px;
        height: 230px;
    }
}
@media screen and (min-width: 1371px) {
    .TiK {
        width: 400px;
        height: 230px;
        top: 136px;
    }
}
@media screen and (min-width: 1653px) {
    .p__follow {
        font-size: 80px;
    }
}
@media screen and (min-width: 1653px) {
    .menuContent {
        height: 100px;
        width: 200px;
        bottom: 660px;
        right: 30px;
    }
}
@media screen and (min-width: 1653px) {
    .liDiscord {
        font-size: 30px;
        left: 75px;
        bottom: 20px;
        position: relative;
    }
}
@media screen and (min-width: 1653px) {
    .liMusica {
        font-size: 30px;
        left: 75px;
        top: 6px;
        position: absolute;
    }
}
@media screen and (min-width: 1653px) {
    .liPrompt {
        font-size: 30px;
        left: 75px;
        position: absolute;
    }
}
@media screen and (min-width: 1653px) {
    .profile__img {
        height: 270px;
        width: 270px;
        bottom: 47px;
        position: relative;
        border-color: 0px 0px 0px 100px rgb(0, 0, 0);
    }
}
@media screen and (min-width: 1653px) {
    .footBottom {
        font-size: 25px;
    }
}
@media screen and (min-width: 1653px) {
    .column {
        font-size: 30px;
    }
}
/*Mobile Responsive Design*/
@media screen and (max-width: 540px) {
    .box {
        width: 580px;
    }
    .header__p {
        font-size: 32px;
    }
    .menuThings {
        top: 65px;
        position: relative;
    }
    .TextDesc {
        
    }
    .channelDesc {
        
    }
    .boxFollow {
        min-width: 5px;
        position: relative;
    }
    .footer {
        min-width: 540px;
    }
    .footBottom {
        min-width: 580px;
    }
}
@media screen and (max-width: 414px) {
    .profile__img {
        left: 80px;
        position: relative;
    }
    .box {
        width: 580px;
    }
    .header__p {
        font-size: 32px;
        left: 60px;
    }
    .menuThings {
        top: 40px;
        position: relative;
    }
    .TextDesc {
        letter-spacing: 10px;
    }
    .channelDesc {
        min-width: 570px;
    }
    .boxFollow {
        min-width: 580px;
        position: relative;
    }
    .footer {
        min-width: 540px;
    }
    .footBottom {
        min-width: 580px;
    }
}
@media screen and (max-width: 700px) {
    .menuThings {
        top: 65px;
    }
}
@media screen and (max-width: 600px) {
    .menuThings {
        top: 80px;
    }
}
@media screen and (max-width: 500px) {
    .menuThings {
        top: 65px;
    }
}
@media screen and (max-width: 400px) {
    .menuThings {
        top: 65px;
    }
}
@media screen and (max-width: 375px) {
    .profile__img {
        left: 80px;
        position: relative;
    }
    .box {
        width: 680px;
        right: 100px;
    }
    .header__p {
        font-size: 30px;
        left: 100px;
    }
    .menuThings {
        top: 65px;
    }
    .TextDesc {
        font-size: 50px;
        letter-spacing: 18px;
    }
    .channelDesc {
        min-width: 550px;
    }
    .boxFollow {
        min-width: 580px;
    }
    .footer {
        min-width: 540px;
    }
    .footBottom {
        min-width: 580px;
    }
}
/*optimizacion centrada(mas que nada al menuContent)*/
